{%extends 'testapp/base.html'%}
    {%block content%}
    <div align='center'>
      {%if submit%}
        <h1>Your Item Added Successfully to the cart !!!</h1>
        <h2>Add Another Item</h2>
       {%else%}
           <h1>Welcome to DURGASOFT Shopping Cart Application!!!</h1>
           <h2>Add Item to the Shopping Cart</h2>
      {%endif%}
      <hr>
      <form method='POST'>
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class='btn btn-lg btn-primary' value="Add Item">
      </form><br><br><br><br>
      <a href="/items" class='btn btn-lg btn-warning'>Display Items From the Cart</a>
    </div>
    {%endblock %}
