<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/dnews.css" %}">
  </head>
  <body>
    <h1>DURGA MOVIE NEWS INFORMATION... HEAD LINES OF TODAY</h1><hr>
    <ul>
      <li>{{news1|upper}}</li>
      <li>{{news2|lower}}</li>
      <li>{{news3|title}}</li>
      <li>{{news4}}</li>
      <li>{{news5}}</li>
    </ul>
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
    <img src="{%static "images/sunny.jpg"%}">
    <img src="{%static "images/heaven.jpg"%}">
  </body>
</html>
